* {
  font-family: "Bookman Old Style", Bookman, "Rufina", "Goudy Old Style", Garamond, serif !important;
}

body {
    text-align: center;
    background-color: #757474;
}
h1 {
    display: block;
    position: relative;
    margin-bottom: 30px;
}
#answers {
	display: inline-block;
	position: absolute;
	width: 640px;
	margin-top: 8%;
}
.answersRow {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 1%;
    text-align: left;
}
.answer {
    display: inline-block;
    position: relative;
    z-index: 5;
    width: 30%;
    margin-bottom: 3%;
    background-color: #FFF;
    margin-left: 11.5%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14pt;
}


.feedback {
    display: inline-block;
    position: relative;
    z-index: 5;
    width: 30%;
    margin-bottom: 3%;
    margin-left: 30%;
    background-color: #FFF;
    margin-left: 11.5%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14pt;
}
#overlay {
    display: inline-block;
    position: absolute;
    height: 300px;
    width: 640px;
    background-color: #000;
    opacity: .8;
    z-index: 3;
    top: -36px;
    left: 0px;
}